/* make the customizations */
$theme-colors: (
        "primary": #fa4616,
        "secondary": white
);

.Toastify__toast--success {
        background-color: #fa4616 !important;
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";