.offers-table-wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 2.5em;
    
    .table {
        color: #495057;   
        font-size: 0.95em;     
    }

    button {
        margin-right: 0.5em;
    }
}

.pagination-wrapper {
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 auto;
    margin-top: 2em;
}