.offers-table-wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 2.5em;
    
    .table {
        color: #495057;   
        font-size: 0.95em;     
    }

    button {
        margin-right: 0.5em;
    }
}