.preloader__wrapper {
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 231, 218);

    .spinner__wrapper {
        margin: 0 0.5em;
    }
}