@import './colors.scss';

$theme-colors: (
        "primary": $primary-color,
        "secondary": white
);

.Toastify__toast--success {
        background-color: #fa4616 !important;
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";