@import './colors.scss';

$theme-colors: (
        "primary": $primary-color,
        "secondary": white
);

.Toastify__toast--success {
        background-color: $primary-color !important;
}

.navbar-dark .navbar-nav .nav-link {
        color: white !important;
        margin: 0 0.5em !important;
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";