.bulk-import__wrapper {
    display: flex;
    height: 50%;
    width: 80%;
    margin: 0 auto;
}

.bulk-import__dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
  }